@CHARSET "ISO-8859-1";
body {
	
	 background-image : url("../images/bg.png");
	color : white;
}
div {
	padding-top : 10px;
	padding-bottom : 10px;
}

h6 {
	text-align : center;
	font-size : 15px;
}
.fbloginimg {
	width : 300px;
}
.profile-img{
margin-left : 25%;
 width  : 100px;
 height : 100px;
}
#name {
	text-align : center;
	font-size : 25px;
}
#profession {
	text-align : center;
	font-size : 15px;
}
#location {
	text-align : center;
}

#about-me {
border-bottom: 1px solid red;
border-top: 1px solid red;
}