<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="col-lg-5">
        <div class="about_img">
          <img class="" src="assets/img/about-us.png" alt="">
        </div>
      </div>

      <div class="offset-lg-1 col-lg-5">
        <div class="main_title text-left">
          <h2>let’s <br>
            Introduce about <br>
            myself</h2>
          <p>
            Welcome to my space in WWW World. Jyotirmay Senapati here from India. I am a Assistant
            Research Scientist at a LMU led laboratory for AI and Medical Imaging, ai-med.de.
            That's not it, We are also building a cool startup for India and Germany both.
            I am proud to be a part of it.
          </p>
          <p>
            I recently completed Masters in Computer Science from TUM. I have developed many AI applications,
            mobile apps and web apps as a developer till now. Many more to come...
          </p>
          <a class="primary_btn" href="assets/data/resume.pdf" download><span>Download CV</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End About Us Area =================-->
