<!--================Footer Area =================-->
<footer class="footer_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="footer_top flex-column">
          <div class="footer_logo">
            <a href="#">
              <img src="assets/img/logo.png" alt="">
            </a>
            <h4>Follow Me</h4>
          </div>
          <div class="footer_social">
            <a href="https://www.linkedin.com/in/jyotirmay-senapati-30615421" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/jyotirmay123" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://www.facebook.com/jyotirmay.senapati.9678" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://stackoverflow.com/users/3861545/jyotirmay" target="_blank"><i class="fa fa-stack-overflow"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row footer_bottom justify-content-center">
      <p class="col-lg-8 col-sm-12 footer-text">
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
      </p>
    </div>
  </div>
</footer>
<!--================End Footer Area =================-->
