<!--================Start Portfolio Area =================-->
<section class="portfolio_area" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="main_title text-left">
          <h2>quality work <br>
            Recently done project </h2>
        </div>
      </div>
    </div>
    <div class="filters portfolio-filter">
      <ul>
        <li class="active" data-filter="*">all</li>
        <li data-filter=".popular">popular</li>
        <li data-filter=".latest"> latest</li>
        <li data-filter=".following">following</li>
        <li data-filter=".upcoming">upcoming</li>
      </ul>
    </div>

    <div class="filters-content">
      <div class="row portfolio-grid justify-content-center">
        <div class="col-lg-4 col-md-6 all latest following">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img class="img-fluid w-100" src="assets/img/portfolio/yesnancy.jpg" alt="">
              <div class="overlay"></div>
              <a href="assets/img/portfolio/yesnancy.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4><a href="portfolio-details.html">NassCov</a></h4>
              <p>Java SpringBoot & Azure, Nasscom</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all popular">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img class="img-fluid w-100" src="assets/img/portfolio/cracke.jpg" alt="">
              <div class="overlay"></div>
              <a href="assets/img/portfolio/cracke.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4><a href="portfolio-details.html">Cracke</a></h4>
              <p>Deep Learning & Ionic, 1st Prize, HackaTUM-2019</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all popular latest">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img class="img-fluid w-100" src="assets/img/portfolio/thesis.jpg" alt="">
              <div class="overlay"></div>
              <a href="assets/img/portfolio/thesis.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4><a href="portfolio-details.html">Bayesian Deep Learning in Medical Image Segmentation</a></h4>
              <p>Machine Learning, Thesis, TUM</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all popular latest following">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img class="img-fluid w-100" src="assets/img/portfolio/quicknat.jpg" alt="">
              <div class="overlay"></div>
              <a href="assets/img/portfolio/quicknat.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4><a href="portfolio-details.html">Quicknat App</a></h4>
              <p>Angular & Python, ai-med.de</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all popular">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img class="img-fluid w-100" src="assets/img/portfolio/ss-mobile.jpg" alt="">
              <div class="overlay"></div>
              <a href="assets/img/portfolio/ss-mobile.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4><a href="portfolio-details.html">StudySmarter Mobile</a></h4>
              <p>Ionic & Angular, StudySmarter</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img class="img-fluid w-100" src="assets/img/portfolio/mmau_disney.jpg" alt="">
              <div class="overlay"></div>
              <a href="assets/img/portfolio/mmau_disney.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4><a href="portfolio-details.html">Multi Modal Audience Understanding</a></h4>
              <p>Deep Learning, Disney Research</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all popular">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img class="img-fluid w-100" src="assets/img/portfolio/igraph.jpg" alt="">
              <div class="overlay"></div>
              <a href="assets/img/portfolio/igraph.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4><a href="portfolio-details.html">iGraph</a></h4>
              <p>NLU & Angular, Technical University of Munich</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all popular">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img class="img-fluid w-100" src="assets/img/portfolio/facial_expression_detection.jpg" alt="">
              <div class="overlay"></div>
              <a href="assets/img/portfolio/facial_expression_detection.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4><a href="portfolio-details.html">Facial Expression Detection</a></h4>
              <p>Deep Learning, Technical University of Munich</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all popular">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img class="img-fluid w-100" src="assets/img/portfolio/learn_it.jpg" alt="">
              <div class="overlay"></div>
              <a href="assets/img/portfolio/learn_it.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4><a href="portfolio-details.html">LearnIT</a></h4>
              <p>PHP, Tata Consultancy Service</p>
            </div>
          </div>
        </div>
        <!--					<div class="col-lg-4 col-md-6 all upcoming">-->
        <!--						<div class="portfolio_box">-->
        <!--							<div class="single_portfolio">-->
        <!--								<img class="img-fluid w-100" src="img/portfolio/staytuned.jpg" alt="">-->
        <!--								<div class="overlay"></div>-->
        <!--								<a href="img/portfolio/staytuned.jpg" class="img-gal">-->
        <!--									<div class="icon">-->
        <!--										<span class="lnr lnr-cross"></span>-->
        <!--									</div>-->
        <!--								</a>-->
        <!--							</div>-->
        <!--							<div class="short_info">-->
        <!--								<h4><a href="portfolio-details.html">Stay Tuned</a></h4>-->
        <!--								<p>FullStack, Kloserr</p>-->
        <!--							</div>-->
        <!--						</div>-->
        <!--					</div>-->
      </div>
    </div>
  </div>
</section>
<!--================End Portfolio Area =================-->
