<!--================ Start Testimonial Area =================-->
<div class="testimonial_area section_gap_bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>What others says about me</h2>
          <p>These are my friends and colleagues with whom I worked in the past and had a nice time then.
            Starting from way back in 2014 at TCS, then Quant-IP, and while studying at TUM.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="testi_slider owl-carousel">
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="assets/img/testimonials/t1.jpg" alt="">
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Veer S. Shrivastav</h4>
                <p class="testimonial_text_wrap"> Jyotirmay was part of my team, while I was working with Tata Consultancy Services.
                  We worked together for about an year, and it was great time having him in our team.
                  He is a very responsible person and understands all the Technical aspects required
                  to complete the work. He also takes extra effort in solving other queries.
                  The best part of his work - Error Analysis. Jyotirmay was one of the best resource
                  for predicting errors which could cause collateral damage in future.
                  This helped our team by saving time. His efforts and dedication are still appreciated.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="assets/img/testimonials/t2.jpg" alt="">
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Lucas von Reuss</h4>
                <p class="testimonial_text_wrap"> Jyotirmay is always focused on problem solving and delivers under stress. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4">
              <img src="assets/img/testimonials/t3.jpg" alt="">
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Shayan Ahmad Siddiqui</h4>
                <p class="testimonial_text_wrap"> Jyotirmay is enthusiastic and skilled professional. He is a tech lover and a geek in a true sense.
                  His innovative ideas and out of the box thinking enables him to stand out among the rest.
                  I have had a chance to work closely with him for quite some time and love to collaborate
                  in future projects. I wish him all the best for the milestones he is yet to achieve!!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================ End Testimonial Area =================-->
