<!--================ Start Newsletter Area =================-->
<section class="newsletter_area">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-12">
        <div class="subscription_box text-center">
          <h2 class="text-uppercase text-white">Get connect with me from anywhere</h2>
          <p class="text-white">
            World is small and round, even if we don't wanna meet, we will!
          </p>
          <div class="subcribe-form" id="mc_embed_signup">
            <form target="_blank" novalidate="true" action="https://api-jms.herokuapp.com/contact" method="get" class="subscription relative">
              <input name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required="" type="email">
              <button class="primary-btn hover d-inline">Get Started</button>
              <div class="info"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Newsletter Area =================-->
