<!--================ Start Features Area =================-->
<section class="features_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>Experiences </h2>
          <p>
            The broader domains of experiences over the last 4-5 years. Mostly It was in Web and Mobile application
            development, which has been mostly replaced by AI products recently.
          </p>
        </div>
      </div>
    </div>
    <div class="row feature_inner">
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="assets/img/services/s3.png" alt="">
          <h4>Web Development</h4>
          <p>Worked for projects on PHP, JAVA SpringBoot, MEAN Stack applications. Used AWS and Azure services.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="assets/img/services/s4.png" alt="">
          <h4>Mobile Apps</h4>
          <p>Developed mobile apps i.e. Android, iOS, PWA using front-end technologies like Cordova, Ionic, Angular etc.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="assets/img/services/s2.png" alt="">
          <h4>AI Products</h4>
          <p>Developed end to end AI products with Python, Flask, PyTorch in the backend. Used Deep Learning mostly.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="assets/img/services/s1.png" alt="">
          <h4>Freelancing</h4>
          <p>Worked as freelancer to help remote clients, as well as learned the task & resource management strategies.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Features Area =================-->
